<%- include('header') %>

<div class="mdui-container-fluid">
  <div class="mdui-container mdui-center" style="margin: 2em; max-width: 1664px">
    <div class="mdui-row">
      <div class="mdui-col-xs-8">
        <div class="mdui-container mdui-card">
          <div class="mdui-typo-display-1 mdui-text-center" style="margin-top: 1em;">
            <%- problem.title %>
          </div>
          <div class="mdui-container mdui-card-content">
            <hr>
            <div id="problem-content"></div>
          </div>
        </div>
      </div>
      <div class="mdui-col-xs-4" style="position: sticky; top: 5em">
        <div class="mdui-container mdui-card" id="problem-sidebar">
          <div class="mdui-card-actions">
            <div class="mdui-row">
              <div class="mdui-col-xs-4">
                <a class="mdui-btn" href="/submissions/filter?problem_id=<%= problem.id %>">
                  <i class="mdui-icon material-icons">assignment</i>
                  记录
                </a>
              </div>
              <div class="mdui-col-xs-4">
                <a class="mdui-btn" href="/submissions/filter?problem_id=<%= problem.id %>">
                  <i class="mdui-icon material-icons">done_all</i>
                  题解
                </a>
              </div>
              <div class="mdui-col-xs-4">
                <a class="mdui-btn" href="/submissions/filter?problem_id=<%= problem.id %>">
                  <i class="mdui-icon material-icons">forum</i>
                  讨论
                </a>
              </div>
            </div>
            <hr />
            <div class="mdui-row">
              <button class="mdui-btn mdui-btn-block" id="submit-button">
                提交
              </button>
              <input class="mdui-hidden" id="submit-dummy" type="file" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var description_url = "/api/problem_content/<%= problem.id %>";
  $.get(description_url, function(data) {
    if (data.success) {
      var md = marked.parse(data.data);
      $("#problem-content").html(md);
      rerender();
    } else {
      $("#problem-content").html(data.message);
    }
  });
  $("#submit-button").click(function() {
    $("#submit-dummy").click();
  });
  $("#submit-dummy").change(function() {
    var formData = new FormData();
    formData.append("problem_id", "<%= problem.id %>");
    formData.append("code", $("#submit-dummy")[0].files[0]);
    $.ajax({
      url: "/api/submit",
      type: "POST",
      data: formData,
      processData: false,
      contentType: false,
      success: function(data) {
        if (data.success) {
          mdui.snackbar({
            message: "提交成功",
            timeout: 2000,
          });
          window.location = data.url;
        } else {
          mdui.snackbar({
            message: data.message,
            timeout: 2000,
          });
        }
      },
    });
  });
</script>
<%- include('footer') %>
</div>